<!DOCTYPE html>
<html>
  <head>
    <title>MusicCatalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      User id: <%= current_user.id %>
    <% end %>
    
    <br>
    <nav>
      <% if logged_in? %>
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", login_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
