<h1>Counter: <%= session[:counter].length %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<% if session[:counter].length <= 5 %>
  <p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>


<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @book.page_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>
<% else %>
  <p>🤡 Sorry, you've exceeded your max views 😭</p>
<% end %>




<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
